{% block footer %}
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <div class="copyright"><span class="brand">Stable</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
          <div class="sub-copy">Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a></div>
                  <div class="sub-copy">Look for more free templates <a href="http://www.websitetemplatesonline.com" target="_blank">at WTO.com</a>. | <a href="http://www.getjoomlatemplatesfree.com/" title="free Joomla skins">www.GetJoomlaTemplatesFree.com</a>. Best choice of Joomla Web Templates.</div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
