<form action="/import_concepts/" method="post">
    {% csrf_token %}
    {{ form.as_p  }}


{% if new_values %}
 <input type="button" onclick="goBack()" value="Go Back" />

<script>
function goBack() {
    window.history.back()
}
</script>
<!-- -->
  <table border=1px>
  <tr><td> - </td><td>ES</td><TD>EN</TD><TD>FR</TD><TD>DE</TD><td>Yes  /Draft /No</td><TR>
  {% for bullet,list in new_values.items  %}
  <tr>   <td><b>{{ bullet }} </b></td>
       {% for concept in list  %}
         <td>{{ concept |safe }}</td>
       {% endfor %}
        <td> 
          {{ forloop.counter }}
          <input type="radio" name="{{ bullet }}" value="Y" >Y
          <input type="radio" name="{{ bullet }}" value="D" >D
          <input type="radio" name="{{ bullet }}" value="N" checked>N

<br>
        </td>
  </tr>
  {% endfor %}
  </table>
{% endif %}
    <input type="submit" value="Submit" />
</form>

<!-- 
{% for lang, concept_list in dict_tree.items %}
lang :{{ lang }} <br>
  {% for bullet, concept  in concept_list %}

 {{ bullet}} ) {{ concept }} <br>

{% endfor %}
{% endfor %}
-->

        <!-- {% if values_es %}
	  {% for bullet, concept in values_es.items %} 
             <b> {{ bullet }}</b> ): {{ concept |safe }} <br>
          {% endfor %}
        {% else %}
            Please add the information below to add concepts
        {% endif %}
-->
