{% extends 'base.html' %}

{% block content %}
<form action="/fr/search/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Search" />
</form>

<hr>
Requested Serach: {{ search_param }}
<hr>
<br>

{% for def in definition %}
<br>   D:{{ def.name_fr }}
<hr>
{% endfor %}


<table border=1>
<tr><td>
Definition </ td> <td> Description </ td><td> Translations </ td> <td> source document </ td> <td> Category </ td> <td> checked
</td></tr>

{% for key, concept in concepts %}

	<tr><td>{{ concept.name_fr }}</td>

<td>
{{ concept.description_fr }}
<br>
</td>
<td>
{% if key.concept_ge.id %}
<a href="/ge/{{ key.concept_ge.id }}/">GE</a> 
{% else %}
GE
{% endif %}
{% if key.concept_en.id %} 
<a href="/en/{{ key.concept_en.id }}/">FR</a> 
{% else %}
EN
{% endif %}

{% if key.concept_es.id  %}
<a href="/es/{{ key.concept_es.id }}/">ES</a> 
{% else %}
ES
{% endif %}


</td><td>{{ concept.sourcedocument.name_fr }}</td><td>{{ concept.category.name_fr }}</td><td>{% if concept.checked %} Yes {% else %} No* {% endif %} </td></tr>

{% endfor %}
</table>

{% endblock %}
