{% extends "base_generic_en.html" %}
{% load staticfiles %}
{% block menu %}

<header>
  <div class="container">
    <div class="row">
      <div class="grid_12 rel">
        <h1>
          <a href="/en/index/">
            <img src="{% static "images/logo.png" %}" alt="Logo alt">
          </a>
        </h1>
      </div>
    </div>
  </div>
  <section id="stuck_container">
  <!--==============================
              Stuck menu
  =================================-->
    <div class="container">
      <div class="row">
        <div class="grid_12 ">
          <div class="navigation ">
            <nav>
              <ul class="sf-menu">
               <li><a href="/en/index/">Home</a></li>
               <li><a href="/en/about/">About</a></li>
               <li><a href="/en/contact/">Contacts</a></li>
               <li class="current"><a href="/en/search/">Search</a></li>
            </nav>
            <div class="clear"></div>
          </div>       
         <div class="clear"></div>  
        </div>
     </div> 
    </div> 
  </section>
</header>
<!--=====================
          Content
======================-->
<section id="content"><div class="ic"></div>


<div class="container">
    <div class="row">
      <div class="grid_12">
        <h3>Search: {Search Term}</h3>
      </div>

                <form id="contact-form" action="/en/search/" method="post">
                <div class="contact-form-loader"></div>
                <fieldset>
                  {% csrf_token %}
                  <label class="name">
                    <input type="text" data-constraints="@Required @JustLetters" value="" placeholder="Search:" name="concept_search">
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid concept.</span>
                  </label>
                </fieldset>
                </form>

    </div>
</div>

  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3>list result</h3>
      </div>
      <div class="grid_2">
        <div class="text2"><a href="#">Concept</a></div>Full Match Concept
      </div>
      <div class="grid_3">
        <div class="text2"><a href="#">Definition</a></div> A cool term definition in LatinCurabitur vel lorem sitmet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur ligulaam dui eros dertolisce dertoloing quam id risus sagittis

      </div>
      <div class="grid_2">
        <div class="text2"><a href="#">Translations</a></div>ES FR GE
      </div>
      <div class="grid_2">
        <div class="text2"><a href="#">Source Document</a></div>Work Development
      </div>
      <div class="grid_2">
        <div class="text2"><a href="#">Category</a></div>Work Things
      </div>
      <div class="grid_1">
        <div class="text2"><a href="#">Checked</a></div>YNM
      </div>
    </div>
  </div>
</section>
{% endblock %}
